.nav{
  /* background: #2b4a5d; */
  background: rgba(101, 100, 100, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 87%;
  transform: translateX(-50%);
  bottom: 17%;
  display: flex;
  flex-direction: column;
  gap:2.3rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);

}

.nav a{
  background-color: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
}
.nav a:hover{
  background: #F79B72;
  color: black ;
}

.nav a.active{
  background: var(--color-primary);
  color: var(--color-bg);

}