.public-header {
  background: #1b263b;
  padding: 16px 40px;
}

.public-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.public-logo p {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.public-logo span {
  color: var(--color-primary);
}

.public-actions {
  display: flex;
  gap: 16px;
}

.btn-outline {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  padding: 8px 18px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-outline:hover {
  background: var(--color-primary);
  color: rgb(32, 31, 31);
}

.btn-primary {
  background: var(--color-primary);
  color: white;
  padding: 8px 18px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-primary:hover {
  background: #004182;
}
