.res-btn{
  background-color: #F79B72;
  width: 120px;
  color: #fff;
  padding: 12px 14px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
  margin: 40px;
  text-decoration: none; /* removes underline */

}