.white-header {
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(to right, #210d48 , #452a66, #554865); /* light gradient */
  color: black; /* make sure text is visible */
  z-index: 1000;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Flex container */
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Brand / Logo */
.header-logo{
  display: flex;
  gap: 0.3rem;
  align-items:center ;
  width: 120px;
  
}
.header-logo .club{
  font-size: 45px;
  font-weight: 100;
font-family: "Segoe UI", "Tahoma", sans-serif;
color: #674295;
}
.header-logo a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
}
.header-logo a span {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.header-nav {
  display: flex;
  gap: 1.2rem;
}

.header-nav a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.25s;
}
.icon2{
  font-size: 30px;
  color: #ffffff;
  margin-left: 0.6rem;

}
.icon3{
  font-size: 26px;
  color: #ffffff;
}
.icon4{
  font-size: 26px;
  color: #ffffff;
  font-weight: 100;
}
.header-nav a:hover {
  color: var(--color-primary);
}

/* Right side user info */
.header-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header-user {
  font-weight: 500;
  font-size: 0.95rem;
  gap: 0.9rem;
  color: #ffffff;
}

/* Logout button */
.btn-logout-club {
  width: max-content;
  display: block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background: transparent;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.btn-logout-club:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-nav {
    gap: 0.8rem;
  }
  .header-container {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}


/* .dark\:to-\[\#3c0084\]:is(.dark *) {
    --tw-gradient-to: #3c0084 var(--tw-gradient-to-position);
}    */